body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* === 通用 === */
.pull-right {
	float: right;
}
.page {
	height: 100%;
	overflow-y: auto;
}
.page__title {
    padding: 40px 15px 20px 15px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.link-color {
    color: #09b78d;
}
.sub-color {
    color: #999;
}
.stronger {
    font-weight: 600;
}
.font-size-l {
    font-size: 16px;
}
.font-size-m {
    font-size: 15px;
}
.font-size-s {
    font-size: 12px;
}
.font-size-xs {
    font-size: 10px;
}
.display-ib {
    display: inline-block;
}
.display-b {
    display: block;
}
.margin-v3 {
    margin: 3px 0;
}

/* weui-cells容器上方去掉画线 */
.weui-cells.no-line:after,
.weui-cells.no-line:before {
	height: 0px;
    content: "";
    position: initial;
}
/* weui-cells容器上方去掉margin */
.weui-cells.no-margin-top {
	margin-top: 0px;
}
/* weui-cell 每个右侧不顶头 */
.weui-cell:before {
	right: 15px;
}
/* 根据设计稿，较高的cell */
.weui-cell-taller .weui-cell__hd,
.weui-cell-taller .weui-cell__hd .icon,
.weui-cell-taller .weui-cell__bd,
.weui-cell-taller .weui-cell__ft {
  line-height: 32px;
  vertical-align: middle;
}

/* 根据设计稿，行内字号重定义 */
.weui-cell__bd {
  font-size: 15px;
}
.weui-cell__ft,
.weui-cell__ft i {
  font-size: 14px;
}

/* 按钮颜色 */
.weui-btn_primary {
    background-color: #09b78d;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
    color: hsla(0,0%,100%,.6);
    background-color: #00ad85;
}
.weui-btn {
    transition: background-color ease-in-out 0.3s;
}
.weui-btn[disabled] {
    background-color: #ddd;
}

/* 图片预览，长图的解决方案 */
.weui-gallery__img {
  background-size: cover;
}

/* === 底部工具条-图标 === */
.my-icon {
	background-size: 100%!important;
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon.icon-home {
	background: url('/static/imgs/icon-home-a.png');
}
.weui-tabbar__item .weui-tabbar__icon.icon-home {
	background: url('/static/imgs/icon-home.png');
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon.icon-mail {
	background: url('/static/imgs/icon-mail-a.png');
}
.weui-tabbar__item .weui-tabbar__icon.icon-mail {
	background: url('/static/imgs/icon-mail.png');
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon.icon-user {
	background: url('/static/imgs/icon-user-a.png');
}
.weui-tabbar__item .weui-tabbar__icon.icon-user {
	background: url('/static/imgs/icon-user.png');
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon,
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i,
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
	color: #09b78d;
}

.icon-tabbar-left {
    content: " ";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-width: 1px 1px 0 0;
    border-color: #333;
    border-style: solid;
    -webkit-transform: matrix(-0.707,-0.707,0.707,-0.707,0,0);
    transform: matrix(-0.707,-0.707,0.707,-0.707,0,0);
    position: absolute;
    /*top: 50%;*/
    left: 15px;
    margin-top: -8px;
    /*right: 2px;*/
}

/* === 底部工具条 === */
.weui-navbar+.weui-tab__panel {
	padding-top: 44px;
  padding-bottom: 50px;
}
.weui-navbar+.weui-tab__panel>.page {
	padding-top: 0px;
}
.weui-navbar {
    height: 44px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
    /* position: relative;
    margin: 0;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
}
.weui-navbar-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.weui-navbar-hide {
	display: none;
}

/* 隐藏底部tabbar */
.weui-tabbar-hide {
  display: none;
}
.weui-tab__panel.no-tabbar {
  padding-bottom: 0px;
}

/* === f7-icons 额外配置 === */
.f7-icons {
	margin: 1px 5px;
}
.f7-icons-text {
	vertical-align: top;
}

/* jquery-weui PhotoBrowser置于最前 */
.weui-photo-browser-modal {
  z-index: 1000;
}

/* jquery-weui 影响的原始weui样式 */
.weui-mask {
  visibility: visible;
  opacity: 1;
}
.weui-dialog, .weui-toast {
  opacity: 1;
  visibility: visible;
}

/* 对话框自定样式 */
.xdf-confirm .weui-dialog {
  width: 72%;
}
.xdf-confirm .weui-dialog__bd:first-child {
  font-size: 16px;
  padding: 15px 20px;
  text-align: left;
  line-height: 27px;
}
.xdf-confirm .weui-dialog__btn {
  font-size: 17px;
}
.xdf-confirm .weui-dialog__btn.weui-dialog__btn_primary {
  color: #09b78d;
}

/* .weui-toptips {
  z-index: 5000;
  opacity: 1;
  transition: opacity .3s;
} */
/* 评论条 */
.commentbar {
  /* height: 44px; */
  height: 2.65rem;
}
.commentbar .commentbar-input {
  height: 1.8rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 0.3rem;
  margin: 0.4rem 0.8rem;
  font-size: 0.85rem;
  width: calc(100% - 4.3rem);
  padding: 0 0.2rem;
}
.commentbar .comment-button {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  height: 2.65rem;
  line-height: 2.65rem;
  color: #04BE02;
  z-index: 1;
  padding: 0 0.8rem;
}
.commentbar .comment-button.disabled {
  color: #999;
}


/* 各种图标 */
.icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  /* margin-right: 8px; */
}
.icon-gender {
  background: url('/static/imgs/icon-gender.png') no-repeat;
  background-size: contain;
}
.icon-smart-phone {
  background: url('/static/imgs/icon-smart-phone.png') no-repeat;
  background-size: contain;
}
.icon-mail-opened {
  background: url('/static/imgs/icon-mail-opened.png') no-repeat;
  background-size: contain;
}
.icon-book {
  background: url('/static/imgs/icon-book.png') no-repeat;
  background-size: contain;
}
.icon-schedule {
  background: url('/static/imgs/icon-schedule.png') no-repeat;
  background-size: contain;
}

/* TopTips的颜色 */
.xdf_orange {
  background-color: darkorange;
}
.xdf_green {
  background-color: #09b78d;
}